server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push
    batchwait: 1s
    batchsize: 102400
    timeout: 10s

scrape_configs:
  # Logs do sistema - apenas os mais importantes
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: system
          __path__: /var/log/{auth,syslog,kern}.log

  # Containers Docker - configuração com container name
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ["__meta_docker_container_log_stream"]
        target_label: "stream"
      - source_labels: ["__meta_docker_container_id"]
        target_label: "container_id"
      - source_labels: ["__meta_docker_container_name"]
        target_label: "container_name"
        regex: "/?(.*)"
        replacement: "${1}"
      - source_labels:
          ["__meta_docker_container_label_com_docker_compose_service"]
        target_label: "service_name"
    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            time: time
      - timestamp:
          source: time
          format: RFC3339Nano
      - output:
          source: output
